/bin
/dist
/infraspec

# go
cover.out
cover.html

# misc
.DS_Store

# terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
providers.tf

# docker-compose
test/volume

vendor/

# next.js / nextra / bun
node_modules/
.next/
_pagefind/
